<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>F:\lua\luac.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>H:\GitRepo\SGame</StartWorkingDirectory>
  </propertyGroup>
</Project>